@font-face {
    font-family: 'work sans';
    src: url('./fonts/WorkSans-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'work sans';
    src: url('./fonts/WorkSans-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'work sans';
    src: url('./fonts/WorkSans-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'work sans';
    src: url('./fonts/WorkSans-Black.ttf');
    font-weight: 900;
}

html{
    font-size: 62.5%;
}

p, span, h1, h2, h3, h4, h5, h6, a, label, input, textarea{
    font-family: 'work sans';
}